#section1 {
    /* height: 100vh; */
    flex-basis: 30vw;
    background-color: rgb(67, 67, 70);
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.svg{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
.mybuttons{
    display: flex;
    flex-wrap: wrap;
}

canvas {
     /* height: 100vh; */
     border: 3px solid red;
     flex-grow: 1;
    cursor: crosshair;
     /* background-color: rgb(133, 76, 76);  */
}
 .shapes{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
 /* .triangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* Adjust the height as needed 
 }*/

  .triangle p {
    margin-bottom: 0.3rem; /* Adjust the spacing between the paragraph and SVG */
  }
  .circle p{
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }
  .rectangle p{
    margin-top: 1rem;

    margin-bottom: 0.3rem;
  }
 .circlepic{
    
    height: 2.4rem;
    width: 2.9rem;
}
.rectanglepic{
    border: 1.3px solid white;
        height: 1.9rem;
        width: 3.4rem;
        margin-left: auto;
        margin-right: auto;

} 
.triangleShape{
    height: 2.1rem;
    width: 3rem;
}
.parent {
    display: flex;
/* height: 100vh; */
width: 100vw; /* Set container width to 100% of viewport width */
overflow-x: hidden;
}

h1 {

    color: rgb(255, 255, 255);
    text-align: center;
}

input {
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

button {
    display: flex;
    border-radius: 0.8rem;
    height: 2rem;
    width: 6rem;
    padding: 1.4rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(28, 28, 177);
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}

.buttons {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
   
justify-content: center;
align-items: center;
color: white;
}

button:hover {
    background-color: rgb(19, 19, 19);
    color: rgb(233, 233, 233);
}

label {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
}